body {
	background-image: url(../image/produce.png);
  	position: relative;
  	background-repeat: no-repeat;
	background-size: cover; 
}
.container {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background: rgba(126, 123, 123, .5);
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	padding: 5rem;
	padding-right: 7rem;
	padding-left: 7rem;
	-webkit-box-shadow: inset 2px -1px 110px -9px rgba(3,2,3,1);
	-moz-box-shadow: inset 2px -1px 110px -9px rgba(3,2,3,1);
	box-shadow: inset 2px -1px 90px -9px rgba(3,2,3,1);
}
#add {
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	background-color: #5c5959;
	color: white;
}
input {
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	display: inline-block;
	position: relative;
	margin-left: 28px;
	list-style: none;
}
h1 {
	font-family: helvetica;
	color: white;
	font-weight: 100;
	position: relative;
	bottom: 30px;
	white-space: nowrap;
	text-align: center;
}
.info1 {
	font-family: helvetica;
	color: white;
	font-weight: 100;
	position: relative;
	bottom: 30px;
	white-space: nowrap;
	text-align: center;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
	max-width: 200px;
}
#todolist {
	list-style: none;
	position: relative;
	right: 65px;
	color: white;
	font-family: helvetica;
	font-weight: 100;
}
li {
	padding-right: 7px;
	padding-left: 7px;
	position: relative;
}
#clear-all {
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	background-color: #5c5959;
	color: white;
	position: relative;
	left: 69px;
}
.delete2 {
	-webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
	background-color: #CC9933;
	color: white;
}








